body{
    background-color:  rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;;
   

}


nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    height: 10%;
    /* border: 1px solid #DCDBDB; */
    filter: drop-shadow(0px -24px 31px #00000034);
    

}


ul 
{
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
    width: 25%;
}



li{
    list-style: none;
    margin: 0% 5%;
    padding: 3% 1%;
}

li:hover{
   color: blue;
   border-bottom: 1px solid rgba(0, 0, 0, 0.541);
   
}

a{
    color: rgba(59, 59, 59, 0.904);
    text-decoration: none;
}


.navtitle{
    /* background-color: azure; */
    font-family: 'Quicksand', sans-serif;
    font-size: 180%;
    font-weight: 400;
    color: #222121dc;
  }
  