* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
    ;
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    height: 70px;
    /* border: 1px solid #DCDBDB; */
    filter: drop-shadow(0px -24px 31px #00000034);
}

ul {
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
    width: 25%;
}

li {
    list-style: none;
    margin: 0% 5%;
    padding: 3% 1%;
}

li:hover {
    color: blue;
    border-bottom: 1px solid rgba(0, 0, 0, 0.541);
}

a {
    color: rgba(59, 59, 59, 0.904);
    text-decoration: none;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    color: #444;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    color: #999;
}

p {
    font-size: 1rem;
    margin-top: 30px;
    color: #666;
    width: 80%;
}

button {
    width: 150px;
    background-color: #F44040;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 15px;
    box-shadow: 3px 3px 10px 1px #888888;
}

button:hover {
    background-color: #ff5959;
    cursor: pointer;
}

.buttonContainer {
    margin-top: 40px;
    width: 100%;
}

.navtitle {
    /* background-color: azure; */
    font-family: 'Quicksand', sans-serif;
    font-size: 180%;
    font-weight: 400;
    color: #222121dc;
}

.section1 {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 70px);
}

.part1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.part2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.part2 img {
    width: 100%;
    height: auto;
}

.section2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.section2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.section2 .part1 {
    width: 60%;
}

.section2 .part2 {
    width: 40%;
}

.section2 h1 {
    font-size: 5rem;
}