* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0%;
  padding: 0%;
  font-family: "Lato", serif;
}

nav {
  background-color: #171717;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 70px;
  /* border: 1px solid #DCDBDB; */
}
.navtitle {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  outline: none;
}
.nav-options {
  padding: 15px 15px;
  border: 0;
  margin: 0;
  color: #eeeeee;
}
.nav-options:hover {
  background-color: #f44040;
  color: #fff;
  font-weight: 900;
}
ul {
  display: flex;
  flex-direction: row;
  width: 25%;
  list-style: none;
}
a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}
.heading {
  /*change1*/
  font-size: 5rem;
  font-weight: 300;
  color: #444;
  font-weight: 700;
}

.sub-heading {
  font-size: 1.5rem;
  color: #999;
  font-weight: bolder;
  padding: 5% 0 0 0;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  margin-top: 30px;

  width: 80%;
}

/* created a button with animations */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 5%;
  padding: 15px 40px;
  border-radius: 2px;
  display: inline-block;
  transition: all, 0.2s;
  position: relative;
}
.btn:hover {
  font-weight: bold;
  background-color: #f44040;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #f44040;
  color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #f44040;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.navtitle {
  /* background-color: azure; */
  font-family: "Quicksand", sans-serif;
  font-size: 180%;
  font-weight: 400;
}

.section1 {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 70px);
}

.part1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}

.part2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.part2 img {
  width: 100%;
  height: auto;
}

.section2 {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.section2 {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.section2 .part1 {
  width: 60%;
}

.section2 .part2 {
  width: 40%;
}

.section2 h1 {
  font-size: 5rem;
}
